{% extends "ajax/soul/shell.html.twig" %}
{% block title %}{{'Meine Seele'|trans({}, 'game')}}{% endblock %}
{% block soul_content %}
    <div class="row me">
        {% include 'ajax/soul/badges.html.twig' with {badger: app.user} %}
        <div class="cell rw-12 center skills">
            <div class="bar">
                <div class="progresstext"><span class="text">{{progress}}%</span></div>
                <div class="progressbar left">
                    <img src="{{ asset('build/images/soul/heroUp_bar.gif') }}" style="width : {{progress}}%;" />
            </div>

            </div>
            <div class="rp-context">
                {{'Letzter freigeschalteter Heldenvorteil:'|trans({}, 'game')}}
                <strong>{% if latestSkill is not null %}
                    <img src="{{asset('build/images/heroskill/' ~ latestSkill.icon ~ '.gif')}}" alt="">
                    {{latestSkill.title|trans({}, 'game')}}
                {% else %}
                    {{'Niemand'|trans({}, 'game')}}
                {% endif %}</strong>
            </div>
            <div>
                <span class="small link" x-ajax-href="{{ path('soul_heroskill') }}">{{'Alle freigeschalteten Vorteile anzeigen'|trans({}, 'game')}}</span>
            </div>
        </div>
        <div class="cell rw-5 rw-sm-12 distinctions">
            <div class="distinctions-head center">
                {{ 'Statistiken'|trans({}, 'global') }}
            </div>
            <div class="distinctions-list center">
                <div class="overall">
                    {{ '%points% Punkte'|trans({'%points%':points}, 'global') }}
                </div>
                {% if pictos|length == 0 %}
                <div class="list empty">
                    {{ 'Dieser Spieler hat bisher noch keine Preise gewonnen...'|trans({}, 'global') }}
                </div>
                {% else %}
                <div class="list">
                    {% for picto in pictos %}
                        {% if picto.c > 0 %}
                            <div class="picto{% if picto.rare %} rare{% endif %}">
                                <div>
                                    <img src="{{  asset('build/images/pictos/' ~ picto.icon ~ '.gif') }}" /><br />
                                    <div class="counter">
                                    {% for number in picto.c|split('') %}<span class="count" title="{{number}}">{{number}}</span>{% endfor %}
                                    </div>
                                </div>
                                <div class="tooltip">
                                    <h1>{{ picto.label|trans({}, 'game') }}</h1>
                                    <em>{{ picto.description|trans({}, 'game')}}</em>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="distinctions-foot">
                &nbsp;
            </div>
        </div>
        <div class="cell padded rw-7 rw-sm-12">

            <div class="score"><img src="{{ asset('build/images/soul/small_score.gif') }}" alt="" /> {{ 'Seelenpunktzahl'|trans({}, 'global') }} : <strong>{{ '%points% Punkte'|trans({'%points%': app.user.allSoulPoints}, 'global') }}</strong> <a class="help-button"><div class="tooltip help">{{ 'Diese Punkte werden für die Seelenrangliste verwendet.'|trans({},'global') }}<p style="color: #f0d79e;"><i>{{ 'Abhängig von der Anzahl der Tage, die du überlebt hast, erhältst du nach jeder Partie eine bestimmte Anzahl an Punkten.'|trans({},'global') }}</i></p></div>{{ 'Hilfe'|trans({},'global') }}</a></div>

            {% for incarnation in app.user.pastLifes %}
                {# @var incarnation \App\Entity\CitizenRankingProxy #}
                {% if incarnation.end is null and incarnation.confirmed == false %}
                    <div class="current">
                        <em>{{'Aktuelles Leben'|trans({}, 'global')}} : </em><br /><strong><img src="{{ asset('build/images/soul/r_explor.gif') }}" alt="" /> {{ incarnation.town.name }}</strong> ({{ 'Tag %day%'|trans({ '%day%':incarnation.town.days }, 'game') }})
                    </div>
                {% endif %}
            {% endfor %}

            <div class="town-history">
                <div id="town-list"></div>
                <div class="row">
                    <div class="cell padded rw-6">
                        <select name="season" id="season">
                            {% for season in seasons %}
                                {% if season.number > 0 %}
                                    <option value="{{season.id}}">
                                        {{ 'Saison %n%'|trans({'%n%': season.number},'soul') }}
                                        {% if season.name is not empty %}
                                            - {{season.name|trans({},'soul')}}
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}
                            <option value="-1">{{'Alte Städte'|trans({}, "soul")}}</option>
                            {% for season in seasons %}
                                {% if season.number == 0 %}
                                    <option value="{{season.id}}">
                                        {{ 'Gute Alte Zeit'|trans({},'soul') }} -
                                        {{ 'Saison %n%'|trans({'%n%': season.subNumber},'soul') }}
                                        {% if season.name is not empty %}
                                            - {{season.name|trans({},'soul')}}
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="cell padded rw-6 right">
                        <input type="checkbox" name="limit-10" id="limit-10" checked /> <label for="limit-10" class="small">{{'Nur 10 Städte anzeigen'|trans({}, 'soul')}}</label>
                    </div>
                </div>
            </div>
        </div>
        {% if app.user.shadowBan is null %}
            <div class="row">
                <div class="cell padded rw-12 rw-sm-12">
                    <div id="users-list-soul">
                    	<h5>{{'Seele suchen'|trans({}, "soul")}}</h5>
                        <div><label><input type="text" id="users-search" style="margin-top: 5px" /></label><div class="tooltip help">{{ 'Gib den Pseudo des Bürgers ein.'|trans({},'soul') }}</div></div>
                        <div id="users-list"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    {{parent()}}
    <script>
        let season_select = document.getElementById('season');
        $.ajax.no_history().load( document.getElementById('town-list'), '{{ path('soul_get_towns', {user_id: app.user.id}) }}', false, {season: season_select.value, limit10: document.getElementById("limit-10").checked } );
        if (season)
            season_select.addEventListener('change', function(e) { $.ajax.no_history().load( document.getElementById('town-list'), '{{ path('soul_get_towns', {user_id: app.user.id}) }}', false, {season: this.value, limit10: document.getElementById("limit-10").checked } ) } );

    let limit_checkbox = document.getElementById('limit-10');
    if (season)
        limit_checkbox.addEventListener('change', function(e) { $.ajax.no_history().load( document.getElementById('town-list'), '{{ path('soul_get_towns', {user_id: app.user.id}) }}', false, {season: document.getElementById('season').value, limit10: this.checked } ) } );

    let typingTimer, doneTypingInterval = 500;
    let searchBox = document.getElementById('users-search');

    const userSearchHandler = function() {
        if (searchBox.value.length >= 3)
            $.ajax.background().load(
                document.getElementById('users-list'),
                '{{ path('users_fuzzyfind') }}',
                false,
                {'name': searchBox.value},
                function() {
                    $.html.addEventListenerAll('#users-list>.users-list-entry>div', 'click', function (e,elem) {
                        $.ajax.load(document.getElementById('content'), elem.getAttribute('x-soul-url'));
                    })
                }
            );
        else document.getElementById('users-list').innerHTML = '';
    };

    const userSearchHandlerUp = function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(userSearchHandler, doneTypingInterval);
    };

    const userSearchHandlerDown = function () {
        clearTimeout(typingTimer);
    };

    if (searchBox) {
        searchBox.addEventListener('keyup', userSearchHandlerUp);
        searchBox.addEventListener('keydown', userSearchHandlerDown);
        searchBox.addEventListener('focus', () => userSearchHandler());
        searchBox.addEventListener('blur', () => setTimeout( () => document.getElementById('users-list').innerHTML = '', 100));
    }

    </script>
{% endblock %}