{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Städte des Pandämoniums'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContent %}
<div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
<h1>{{ 'Städte des Pandämoniums'|trans({},'help')|raw }}</h1>
<p><strong>{{ 'Das Pandämonium ist der schwierige Modus in \'Die Verdammten\'.'|trans({},'help')|raw }}</strong></p>
<p>
{{ 'Im Pandämonium findet ihr ausschießlich Städte, die mit zusätzlichen Problemen zu kämpfen haben und in denen das Überleben außerordentlich schwierig ist.'|trans({},'help')|raw }}
</p>
<p>
{{ 'In diesen Städten gelten bestimmte Regeln:'|trans({},'help')|raw }}
</p>
<ul>
<li>{{ 'Die mitternächtlichen Zombieangriffe richten Schäden an den gebauten Gebäuden und Konstruktionen an. Diese Schäden müssen repariert werden.'|trans({},'help')|raw }}</li>
<li>{{ 'Beschädigte Verteidigungsbauten verlieren ihre Wirkung, wenn sie nicht repariert werden.'|trans({},'help')|raw }}</li>
<li>{{ 'Verteidigungsgegenstände in der Bank können während des Angriffs zerstört werden.'|trans({},'help')|raw }}</li>
<li>{{ 'Die Überlebenschancen beim Camping sind geringer.'|trans({},'help')|raw }}</li>
<li>{{ 'Die Chance, an einer Infektion zu sterben, beträgt 75%,'|trans({},'help')|raw }}</li>
<li>{{ 'Die Wasserreserven zum Beginn einer Stadt sind kleiner als gewöhnlich,'|trans({},'help')|raw }}</li>
{# <li>{{ 'Der Zugriff auf externe Anwendungen ist zum Teil eingeschränkt.'|trans({},'help')|raw }}</li> #}		
<li>{{ 'Der Letzte Tod bringt eine besondere Auszeichnung ein.'|trans({},'help')|raw }}</li>
<li>{{ 'Die Chance, einen Mitbürger mit der Aktion <strong>Angreifen</strong> zu verletzten, ist wesentlich höher.'|trans({},'help')|raw }}</li>
</ul>
<div class="clear"></div>
<a class="button" x-ajax-href="{{ url('help', {'name': 'private_towns'}) }}"><img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move"> {{'Weiter'|trans({}, 'help')}}:<strong> {{ 'Privatstädte'|trans({},'help') }}</strong></a>
{% endblock %}